.carousel {
  margin-top: 70px;
  position: relative;

  img {
    height: 92vh;
    object-fit: cover;
    filter: brightness(40%);
  }

  .content-box {
    max-width: 800px;
    height: fit-content;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    h1,
    h2 {
      color: #fff;
      text-align: center;
    }

    h1 {
      font-size: 40px;
      font-weight: 700;
      line-height: 56px;
    }

    h2 {
      line-height: 40px;
      font-size: 20px;
    }
  }

  .btn-get-started {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 28px;
    border-radius: 3px;
    transition: 0.5s;
    color: #fff;
    background: #009cea;
    margin-top: 1rem;

    &:hover {
      background: #008bd1;
    }
  }
}

@media (max-width: 768px) {
  .carousel {
    .content-box {
      padding: 1rem;

      h1 {
        font-size: 1.4rem;
        line-height: 28px;
        font-weight: 600;
      }

      h2 {
        display: none;
      }
    }
  }
}
