.features {
  padding-bottom: 40px;

  .nav-tabs {
    border: 0;
  }

  .nav-link {
    border: 0;
    padding: 20px;
    transition: 0.3s;
    color: #364146;
    transition: 0.3s ease-in-out;
    border-radius: 0;
    border-left: 4px solid #fafbfb;

    h4 {
      font-size: 18px;
      font-weight: 600;
      transition: 0.3s ease-in-out;
      color: #576971;
    }

    p {
      font-size: 14px;
      margin-bottom: 0;
    }

    &:hover {
      background: #fafbfb;

      h4 {
        color: #364146;
      }
    }

    &.active {
      border-radius: 0;
      border: 0;
      border-left: 4px solid #009cea;
      background: #fafbfb;

      h4 {
        color: #009cea;
      }
    }
  }

  .tab-pane.active {
    -webkit-animation: slide-down 0.5s ease-out;
    animation: slide-down 0.5s ease-out;
  }

  .tab-content {
    text-align: right;
  }
}

@-webkit-keyframes slide-down {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
