#hero {
  width: 100%;
  background-image: url("../img/hero-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right top;
  margin-top: 70px;
  padding: 60px 0;

  h1 {
    margin: 0 0 20px 0;
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    color: #364146;
  }

  h2 {
    color: #576971;
    margin-bottom: 30px;
    line-height: 40px;
    font-size: 22px;
  }

  .btn-get-started {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 28px;
    border-radius: 3px;
    transition: 0.5s;
    color: #fff;
    background: #009cea;

    &:hover {
      background: #008bd1;
    }
  }

  .hero-img {
    text-align: center;

    img {
      width: 70%;
    }
  }
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 992px) {
  #hero {
    h1 {
      font-size: 32px;
      line-height: 40px;
    }

    h2 {
      font-size: 1rem;
    }
  }
}

@media (max-width: 576px) {
  #hero {
    padding: 1rem 0 2rem;
    .text-center-div {
      text-align: center;
    }
  }
}
