.team {
  .mentor-team,
  .content-team,
  .design-team {
    padding-bottom: 5rem;
  }

  .section-title {
    padding-bottom: 2.5rem;
  }

  .members {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
  }

  .member {
    margin-bottom: 20px;
    overflow: hidden;
    text-align: center;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);

    .member-img {
      position: relative;
      overflow: hidden;

      .original {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: all 1s;

        &:hover {
          opacity: 1;
          animation: image_blur 1s;
        }
      }
    }

    .social {
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      height: 40px;
      opacity: 0;
      transition: ease-in-out 0.3s;
      background: rgba(255, 255, 255, 0.85);
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        transition: color 0.3s;
        color: #493c3e;
        margin: 0 10px;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        i {
          line-height: 0;
        }

        &:hover {
          color: #2282ff;
        }
      }

      i {
        font-size: 18px;
        margin: 0 2px;
      }
    }

    .member-info {
      padding: 25px 15px;

      h4 {
        font-weight: 700;
        margin-bottom: 5px;
        font-size: 16px;
        color: #364146;
      }

      span {
        display: block;
        font-size: 13px;
        font-weight: 400;
        color: #777777;
      }

      p {
        font-style: italic;
        font-size: 14px;
        line-height: 26px;
        color: #777777;
      }
    }

    &:hover .social {
      opacity: 1;
    }
  }
}

.mentor-team .members {
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;

  .member {
    max-width: 250px;
  }
}

@media (max-width: 992px) {
  .team,
  .mentor-team {
    .members {
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
    }
  }
}

@media (max-width: 768px) {
  .team,
  .mentor-team {
    .members {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
  }
}

@keyframes image_blur {
  0% {
    -webkit-filter: blur(0px);
  }
  50% {
    -webkit-filter: blur(1px);
  }
  100% {
    -webkit-filter: blur(0px);
  }
}
