#reg {
  margin-top: 4rem;
  background: #f6f6f6;
}

#reg h2 {
  font-size: 1.75rem;
}

#reg .form-box {
  margin-top: 3rem;
  max-width: 500px;
  margin: auto;
}

#reg .input-box {
  margin-bottom: 1.5rem;
}

#reg .btn.apply {
  margin-top: 0.5rem;
  padding: 10px 60px;
}

@media (max-width: 768px) {
  #reg .form-box {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
