body {
    background-color: #f6f6f6;
}
#team-jumbotron {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    padding-left: 60px;
    font-family: 'DM Sans', sans-serif !important;
    /*min-height: 600px;*/
    min-height: 100vh;
    padding-top: 40px;
}
#team-jumbo-info {
    padding-right: 20px;
}
#team-jumbo-info > h1 {
    color: #142945;
    font-weight: bold;
    font-size: 64px;
    font-family: 'DM Sans', sans-serif !important;
    margin-bottom: 20px;
    letter-spacing: -2px !important;
}
#team-jumbo-info > p {
    color: #565656;
    font-size: 16px !important;
    letter-spacing: -0.02cm;
    max-width: 75%;
    margin-top: 26px;
}
#team-jumbo-info > button {
    background-color: #142945;
    color: white;
    outline: none;
    border: none;
    padding: 10px 20px;
    font-weight: 400;
}
#team-jumbo-info > button > a {
    color: white;
    text-decoration: none;
}
#team-jumbo-info > button:hover {
    opacity: 0.8;
}
#team-jumbo-img > img {
    max-height: 70vh;
}
#design-team {
    margin-top: 42px;
}
.team-info {
    margin-top: 15px;
    text-align: center;
    font-family: 'DM Sans', sans-serif !important;
}
.team-info > h2 {
    margin-bottom: 15px;
    font-weight: bold;
    color: black;
}
.team-info > p {
    font-size: 16px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    color: #565656;
    letter-spacing: -0.02cm;
}
.team-profile {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -50px;
}
.team-profile > div {
    text-align: center;
    margin: 40px 0px;
    min-width: 253px;
    transition-duration: 0.2s !important;
}
.team-profile > div > h4 > br {
    display: none;
}
.single-line-profile > div {
    margin: 40px 20px;
}

.team-profile > div > h6 {
    font-family: 'DM Sans', sans-serif;
    color: #636363;
    margin-top: 5px;
}
.team-profile > div > img {
    width: 159px;
    height: 166px;
}
/* .team-profile > div:hover {
    transform: scale(1.1) !important;
    cursor: pointer;
    opacity: 0.8 !important;
} */
.icon {
    margin-top: -10px;
    width: 20px !important;
    height: 20px !important;
}
a > img:hover {
    opacity: 0.7;
}
h2 {
    font-family: 'DM Sans';
    color: black;
    font-weight: bold;
    font-size: 32px;
    letter-spacing: -0.05cm !important;
}
h4 {
    font-family: 'DM Sans';
    color: black;
    font-weight: bold !important;
    font-size: 21px;
    letter-spacing: -0.02cm !important;
}
.team-profile > div > h4 {
    margin-top: 10px;
    margin-bottom: -2px;
}
h6 {
    font-weight: 400;
    letter-spacing: -0.02cm !important;
}
.team-container {
    padding-bottom: 30px;
}
.arrow_icon {
    margin-left: 3px;
}

#footer {
    margin-top: 50px;
}

@media screen and (max-width: 1100px) {
    #team-jumbotron {
        min-height: 600px;
    }
    #team-jumbo-info {
        margin-top: 20px;
    }
    #team-jumbo-img > img {
        width: 400px;
    }
    h1 {
        font-size: 51px !important;
    }
    
    h2 {
        font-weight: bolder;
        font-size: 27px;
    }
    p {
        font-size: 16px !important;
    }
}
@media screen and (max-width: 860px) {
    #team-jumbotron {
        flex-direction: column;
        height: auto;
        align-items: center;
        padding: 0px 40px;
        padding-top: 30px;
    }
    #team-jumbotron > div {
        text-align: center;
        width: 100%;
        margin-top: 10px;
    }

    #team-jumbo-info > button {
        margin-top: 10px;
        margin-bottom: 30px;
    }
    #team-jumbo-info {
        text-align: left !important;
        display: block;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-top: 75px;
        max-width: 80%;
        margin-left: -5px;
    }
    #team-jumbo-info > p {
        max-width: 100% !important;
    }
    #team-jumbo-img > img {
        width: 80%;
    }
    .team-profile > div {
        margin: 40px 20px;
        min-width: 0;
        max-width: 200px;
        
    }
    .team-profile > div > h4 > br {
        display: block;
    }
    h4 {
        word-wrap: break-word;
        height: 60px; 
        min-width: 200px;
        display: grid;
        place-items: center;
    }
    p {
        font-size: 15px !important;
    }
    
}


@media screen and (max-width: 600px) {
    #team-jumbo-img > img {
        width: 100%;
    }
    p {
        font-size: 14px !important;
    }
    .team-profile {
        width: 100%;
    }
    .team-profile > div {
        flex-basis: calc(50% - 10px);  
        min-width: 0;
        margin-left: 5px;
        margin-right: 5px;
    }
    .team-profile > div > img {
        width: 129px;
        height: 136px;
    }
    h4 {
        min-width: 100px;
    }
}

@media screen and (max-width: 500px) {
    h1 {
        font-size: 46px !important;
    }
    #team-jumbo-info {
        max-width: 90%;
    }
}
@media screen and (max-width: 350px) {
    #team-jumbo-info {
        padding-right: 0;
    }
}